@font-face {
  font-family: 'Nimbus Sans';
  src: url('fonts/NimbusSanL-Reg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Nimbus Sans', sans-serif;
  height: 100vh;
  overflow: hidden;
}

.nav {
  position: absolute;
  top: 48px;
  width: 100%;
  z-index: 10;
}

ul {
  display: flex;
  gap: 24px;
  font-size: 14.5px;
  list-style-type: none;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
  letter-spacing: .03rem;
  border-radius: 15px;
  width: fit-content;
  color: white;
  background-color: hsla(210, 2%, 42%, 0.5);
}

.logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  margin-right: -150px;
}

.logo-text {
  display: inline-block;
  transform: rotate(90deg);
  font-size: 200px;
  letter-spacing: .03rem;
}